<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo_img"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo_img"
        android:supportsRtl="true"
        android:theme="@style/Theme.App"
        tools:ignore="HardcodedDebugMode"
        tools:targetApi="31">
        <activity android:name=".OrderHistoryActivity"
            android:exported="false" />

        <activity
            android:name=".OrderDetailAdminActivity"
            android:exported="false" />
        <activity
            android:name=".Infor_Activity"
            android:exported="false" />
        <activity
            android:name=".SupportActivity"
            android:exported="false" />
        <activity
            android:name=".PaymentActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailActivity"
            android:exported="false" />
        <activity
            android:name=".ListOrderActivity"
            android:exported="false" />
        <activity
            android:name=".CartActivity"
            android:exported="false" />
        <activity
            android:name=".MoreActivity"
            android:exported="false" />
        <activity
            android:name=".MenuActivity"
            android:exported="false" />
        <activity
            android:name=".AdminActivity"
            android:exported="false" />
        <activity
            android:name=".RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".DoanhthuActivity"
            android:exported="false" />
        <activity
            android:name=".hosoadmin"
            android:exported="false" />
        <activity
            android:name=".ManagerOrderActivity"
            android:exported="false" />
        <activity android:name=".FoodManagementActivity" />
        <activity android:name=".AddEditFoodActivity" />
        <activity android:name=".CustomerManagementActivity" />
        <activity android:name=".CustomerDetailActivity" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>